.main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-orange);
  background-image: url('/pattern.png');
  background-blend-mode: color-burn;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40rem;
}
.logo {
  width: 15rem;
}
.title {
  color: var(--color-white);
  font-family: var(--font-kanit), sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.text {
  color: var(--color-white);
  font-family: var(--font-lato), sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.2;
}
.strong {
  font-weight: 700;
}
.boxButtons {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.socialButton {
  background-color: var(--color-white);
  border: 0.1rem solid var(--color-black);
  border-radius: 1rem;
  padding: 0.5rem 30%;
  width: 30rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.5));
}
.socialButton:hover {
  filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0.5));
  transform: scale(0.99);
}
.socialButton:active {
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.5));
  transform: scale(0.98);
}
.iconButtonCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  border-radius: 5rem;
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
}
.iconButton {
  width: auto;
  height: 1rem;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7437%) hue-rotate(261deg)
    brightness(101%) contrast(97%);
}
.nameButton {
  font-family: var(--font-lato), sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--color-black);
  font-size: 1.5rem;
}
@media (max-width: 576px) {
  .main {
    align-items: flex-start;
    padding: 2rem;
  }
  /* .content {
    width: 25rem;
  }
  .logo {
    width: 12rem;
  }
  .title {
    font-size: 2.2rem;
  }
  .text {
    font-size: 1.3rem;
  }
  .socialButton {
    width: 20rem;
    padding-left: 25%;
    padding-right: 25%;
  } */
}
